RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule .* index.php?url=$0 [QSA]

#Permet de renvoyer l'url demandé dans une requete
#dans le paramètre $_GET['url'] dans le fichier index.php